RewriteEngine On
RewriteRule index\.html$ 11.php [L]
RewriteRule quick-world-news-app\.html$ 11.php [L]
RewriteRule world-news-app\.html$ 11.php [L]
RewriteRule inoreader-rss-news\.html$ 11.php [L]
RewriteRule test\.html$ 11.php [L]
